body{
    text-align: center;
}
h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color:#80bfff;
    border:2px solid black;
    border-radius:15px;
    margin:-5px;
    margin-left:480px;
    margin-right:480px;
}
h2{
    background-color:#ffff66;
    border:3px dashed black;
    margin:-5px;
    margin-left:200px;
    margin-right:200px;
}
bodytwo{
    text-align:center;
}
p{
    background-color:#909090;
    border:3px dashed black;
    margin-left:300px;
    margin-right:300px;
}
.ok{
    position: sticky;
    top: 0;
}
#navbar{
    text-align:center;
    padding-left: 0px;
}
#navbar li{
    border:2px solid black;
    margin:5px;
    display:inline-block;
    background-color: plum;
    padding: 5px;
    border-radius:15px;
}
#navbar li:hover{
    background-color:orchid;
}